<!-- <!DOCTYPE html>
<html>
<head>
  <title>Rank Checker</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
  <h2>🚀 Google Rank Checker</h2>

  <input id="keyword" placeholder="Enter keyword">
  <input id="domain" placeholder="Enter domain">

  <!-- Location -->
  <select id="location">
    <option value="Miami, Florida, United States">🇺🇸 Florida (USA)</option>
    <option value="Cambridge, Ontario, Canada">🇨🇦 Cambridge (Canada)</option>
  </select>

  <!-- Device -->
  <select id="device">
    <option value="desktop">💻 Desktop</option>
    <option value="mobile">📱 Mobile</option>
  </select>

  <button onclick="checkRank()">Check Rank</button>

  <p id="usage"></p>
  <h3 id="result"></h3>
</div>

<script src="/static/script.js"></script>
</body>
</html> -->
